body {
  background-color: rgb(219, 219, 146);
  font-family: "Times New Roman", Times, serif;
}

.dark {
  background-color: black;
  color: rgb(219, 219, 146);
}

.light {
  background-color: rgb(219, 219, 146);
  color: black;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 25%;
  background-color: rgb(219, 219, 146);
  color: black;
}
